{% extends 'base.html' %} 

{% block content %} 

  <img class="title" src="static/images/Teyvat.gif"  width="1031" height="530"> 
  <div class="absl top_margin centre">
    <h1 class="big title_text">
    </h1>
  </div>

<div class="box">
    <div>
      <img src="static/images/twins_border.png" class="illust" style="margin-left: 70%">
    </div>
</div>

<div class="box">
    <div>
      <img src="static/images/characters/Xiao.png" class="illust" style="margin-right: 70%">
    </div>
</div>

<div class="box">
    <div>
      <img src="static/images/characters/Kazuha.png" class="illust" style="margin-left: 70%">
    </div>
</div>

<div class="box">
    <div>
      <img src="static/images/characters/Tartaglia.png" class="illust" style="margin-right: 70%">
    </div>
</div>

<div class="box">
    <div>
      <img src="static/images/characters/Ayato.png" class="illust" style="margin-left: 70%">
    </div>
</div>

{% endblock %}