<ka><a class="active" href="/" target="_self">
        <nav>Genshin Forum</nav>
        <img src ="static/images/Genshin_logo.png" style="width:45px; height:18px;">
    </a></ka>


    <ka><a href="/characters" target="_self">
        <nav>Characters</nav>
        <img src ="static/images/chibby.png" style="width:18px; height:18px;">
    </a></ka>


    <zu><a href="file:///C:/Users/talon/Desktop/kazuha/In-game.html" class="Kazuha" target="_self">
      <nav>In-game</nav>
      <img src ="static/images/chibby 2.png" style="width:18px; height:18px;">
    </a></zu>


    <ha><a href="file:///C:/Users/talon/Desktop/kazuha/Recommendations.html" target="_self">
    <nav>Recommended</nav>
    <img src= "static/images/chibby 3.png" style="width:18px; height:18px;">
    </a></ha>