<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" >
        <div class="form-group">
            <label for="userid">id</label>
            <input type="text" id="userid" placeholder="id" name="userid"/>
        </div>
        <div class="form-group">
            <label for="username">User name</label>
            <input type="text" id="username" placeholder="user name" name="username"/>

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="password" name="password"/>
        </div>
        <div class="form-group">
            <label for="re_password">Check your Password</label>
            <input type="password" id="re_password" placeholder="re-password" name="re_password"/>
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>