{% extends 'base.html' %}

{% block content %}

<div class="spacing"></div>

    <h1>Register here!</h1>
    <div class="spacing"></div>
    <form method="POST" >
        <label for="userid">id</label>
        <input type="text" id="userid" placeholder="id" name="userid"/>

        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username" name="username"/>

        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>

        <label for="re_password">Check your password</label>
        <input type="password" class="form-control" id="re_password" placeholder="Type your password here again" name="re_password"/>

        <div class="spacing"></div>
        
        <button type="submit">Confirm</button>
        <div class="spacing"></div>
{% endblock %}
