<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewpoint" content="width=device-width">
      
      <link rel="stylesheet" href="static/style.css">
      <title>Document</title>
  </head>

  <body>
    <ka><a class="active" href="/" target="_self">
        <nav>Kazuha</nav>
        <img src ="static/images/illust.png" style="width:18px; height:18px;">
    </a></ka>


    <ka><a href="/contents" target="_self">
        <nav>Combat Info</nav>
        <img src ="static/images/chibby.png" style="width:18px; height:18px;">
    </a></ka>


    <zu><a href="" class="Kazuha" target="_self">
      <nav>In-game</nav>
      <img src ="static/images/chibby 2.png" style="width:14px; height:20px;">
    </a></zu>


    <ha><a href="file:///C:/Users/talon/Desktop/kazuha/Recommendations.html" target="_self">
    <nav>Recommended</nav>
    <img src= "" style="width:15px; height:15px;">
    </a></ha>
    
        <figure>
        <img class="title" src="static/images/Press.gif"  width="1500" height="800"> 
        <div class="absl top_margin centre">
          <h1 class="big title_text">
          <span class="text_colour">Kaedehara Kazuha</span>
          </h1>
        </div>

        <div class="spacing">
        </div>

        <div class="box2">
            <div>
            <img src="static/images/illust.png" class="illust2" width="600px" height="400px">
            </div>
            <div> 
                <h5> Kaedehara Kazuha </h5>
                <p>A wandering samurai from Inazuma who is currently with Liyue's Crux Fleet.<br>
                    A gentle and carefree soul whose heart hides a great many burdens from the past.<br>
                    It's hard to say if weathering life's storms has eroded any sharp edges he once had<br>
                    or his reserved nature keeps them hidden from view.<br> 
                    The first time most people meet Kaedehara Kazuha,<br> 
                    they presume he is just another trainee crew member aboard The Crux.</p>
            </div>
        </div>

        <div class="spacing">
        </div>

        <div class="box2">
            <div>
            <img src="static/images/Rarity.png" class="illust2" width="200px" height="50px">
            </div>
            <div>
                <h1> Rarity </h1>
                <p>5 Stars</p>
            </div>
            <div>
                <img src="static/images/Weapon.png" class="illust2" width="200px" height="200px">
            </div>
            <div> 
                <h1> Weapon </h1>
                <p>Sword</p>
            </div>
        </div>

        <div class="spacing">
        </div>

        <div class="box2">
            <div>
                <img src="static/images/Element.png" class="illust2" width="200px" height="200px">
            </div>
            <div> 
                <h1> Element </h1>
                <p>Anemo</p>
            </div>
            <div>
                <img src="static/images/Food.png" class="illust2" width="200px" height="200px">
            </div>
            <div> 
                <h1> Special Dish </h1>
                <p>All-Weather Beauty</p>
            </div>
        </div>

        <div class="spacing">
        </div>

        <div class="box2">
            <div>
                <img src="static/images/Inazuma.png" class="illust2" width="150px" height="150px">
            </div>
            <div> 
                <h1> Nationality </h1>
                <p>inazuma</p>
            </div>
            <div>
                <img src="static/images/group.png" class="illust2" width="150px" height="150px">
            </div>
            <div> 
                <h1> Current Status </h1>
                <p>Crux</p>
            </div>
        </div>

        <div class="spacing">
        </div>
    </body>


    <body>
        <h2>Talents</h2>
        <div class="row">
            <div class="column">
                <table>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>


                    <tr>    
                        <td><img src="static/images/Normal_attack.png" width="70" height="70" class="img-container"></th>
                        <td>Garyuu Bladework</th>
                        <td>Normal Attack</th>
                    </tr>


                    <tr>
                        <th></th>
                        <td>Normal Attack: Perform up to 5 rapid strikes.<br>
                            Charged Attack: Consumes a certain amount of Stamina to unleash 2 rapid sword strikes.<br>
                            Plunging Attack: Plunges from mid-air to strike the ground below,<br>
                            damaging opponents along the path and dealing AoE DMG upon impact.<br>
                            If this Plunging Attack is triggered by Chihayaburu, it will be converted to Plunging Attack: Midare Ranzan.<br>
                            Plunging Attack: Midare Ranzan: When a Plunging Attack is performed using the effects of the Elemental Skill Chihayaburu,<br>
                            Plunging Attack DMG is converted to Anemo DMG and will create a small wind tunnel<br>
                            via a secret blade technique that pulls in nearby objects and opponents.</td>
                        <td></td>
                    </tr>


                    <tr>    
                        <td><img src="static/images/Elemental_skill.png" width="70" height="70" class="img-container"></th>
                        <td>Chihayaburu</th>
                        <td>Elemental Skill</th>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Unleashes a secret technique as fierce as the rushing wind that pulls objects<br> 
                            and opponents towards Kazuha's current position before launching opponents within the AoE,<br>
                            dealing Anemo DMG and lifting Kazuha into the air on a rushing gust of wind.<br>
                            Press: Can be used in mid-air.<br>
                            Hold: Charges up before unleashing greater Anemo DMG over a larger AoE than Press Mode.<br>
                            Plunging Attack: Midare Ranzan: Within 10s of remaining airborne after casting Chihayaburu,<br> 
                            Kazuha can unleash a powerful Plunging Attack known as Midare Ranzan.<br>
                            When a Plunging Attack is performed using the effects of the Elemental Skill Chihayaburu,<br> 
                            Plunging Attack DMG is converted to Anemo DMG. On landing,<br> 
                            Kazuha creates a small wind tunnel via a secret blade technique that pulls in nearby objects and opponents.<br> 
                            Midare Ranzan's DMG is considered Plunging Attack DMG.</td>
                        <td></td>
                    </tr>


                    <tr>    
                        <td><img src="static/images/Elemental_burst.png" width="70" height="70" class="img-container"></th>
                        <td>Kazuha Slash</th>
                        <td>Elemental Burst</th>
                    </tr>


                    <tr>
                        <th></th>
                        <td>The signature technique of Kazuha's self-styled bladework <br> 
                            — a single slash that strikes with the force of the first winds of autumn,<br>  
                            dealing AoE Anemo DMG.<br>  
                            The blade's passage will leave behind a field named "Autumn Whirlwind"<br>
                            Elemental Absorption: If Autumn Whirlwind comes into contact with Hydro/Pyro/Cryo/Electro,<br>
                            it will deal additional elemental DMG of that type. Elemental Absorption may only occur once per use.<br>
                            that periodically deals AoE Anemo DMG to opponents within its range.</td>
                        <td></td>
                    </tr>


                    <tr>    
                        <td><img src="static/images/Passive 1.png" width="70" height="70" class="img-container"></th>
                        <td>Soumon Swordsmanship</th>
                        <td>1st Ascension Passive</th>
                    </tr>


                    <tr>
                        <th></th>
                        <td>If Chihayaburu comes into contact with Hydro/Pyro/Cryo/Electro when cast, <br>
                            Chihayaburu will absorb that element and if Plunging Attack: <br>
                            Midare Ranzan is used before the effect expires, it will deal an additional 200% ATK of the absorbed elemental type as DMG. <br>
                            This will be considered Plunging Attack DMG.<br>
                            Elemental Absorption may only occur once per use of Chihayaburu.</td>
                        <td></td>
                    </tr>

                    <tr>    
                        <td><img src="static/images/Passive 2.png" width="70" height="70" class="img-container"></th>
                        <td>Poetics of Fuubutsu</th>
                        <td>4th Ascension Passive</th>
                    </tr>


                    <tr>
                        <th></th>
                        <td>Upon triggering a Swirl reaction, <br>
                            Kaedehara Kazuha will grant all party members a 0.04% Elemental DMG Bonus <br>
                            to the element absorbed by Swirl for every point of Elemental Mastery he has for 8s. <br>
                            Bonuses for different elements obtained through this method can co-exist.</td>
                        <td></td>
                    </tr>


                    <tr>    
                        <td><img src="static/images/Passive 3.png" width="70" height="70" class="img-container"></th>
                        <td>Cloud Strider</th>
                        <td>Utility Passive</th>
                    </tr>


                    <tr>
                        <th></th>
                        <td>Decreases sprinting Stamina consumption for your own party members by 20%.
                            Not stackable with Passive Talents that provide the exact same effects.</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="column">
                <table>
                    <tr>
                        <th>Level</th>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Effect</th>
                    </tr>

                    <tr>    
                        <td>1</th>
                        <td><img src="static/images/c1.png" width="70" height="70" class="img-container"></th>
                        <td>Scarlet Hills</td>
                        <td>Decreases Chihayaburu's CD by 10%.<br>
                            Using Kazuha Slash resets the CD of Chihayaburu.</th>
                        </td>
                    </tr>

                    <tr>    
                        <td>2</th>
                        <td><img src="static/images/c2.png" width="70" height="70" class="img-container"></th>
                        <td>Yamaarashi Tailwind</td>
                        <td>The Autumn Whirlwind field created by Kazuha Slash has the following effects:<br>
                            Increases Kaedehara Kazuha's own Elemental Mastery by 200.<br>
                            Increases the Elemental Mastery of characters within the field by 200.<br>
                            The Elemental Mastery-increasing effects of this Constellation do not stack.</th>
                        </td>
                    </tr>

                    <tr>    
                        <td>3</th>
                        <td><img src="static/images/c3.png" width="70" height="70" class="img-container"></th>
                        <td>Maple Monogatari</td>
                        <td>Increases the Level of Chihayaburu by 3.<br>
                            Maximum upgrade level is 15.</th>
                        </td>
                    </tr>

                    <tr>    
                        <td>4</th>
                        <td><img src="static/images/c4.png" width="70" height="70" class="img-container"></th>
                        <td>Oozora Genpou</td>
                        <td>When Kaedehara Kazuha's Energy is lower than 45, he obtains the following effects:<br>
                            Pressing or Holding Chihayaburu regenerates 3 or 4 Energy for Kaedehara Kazuha, respectively.<br>
                            When gliding, Kaedehara Kazuha regenerates 2 Energy per second.</th>
                        </td>
                    </tr>

                    <tr>    
                        <td>5</th>
                        <td><img src="static/images/c5.png" width="70" height="70" class="img-container"></th>
                        <td>Wisdom of Bansei</td>
                        <td>Increases the Level of Kazuha Slash by 3.<br>
                            Maximum upgrade level is 15.</th>
                        </td>
                    </tr>

                    <tr>    
                        <td>6</th>
                        <td><img src="static/images/c6.png" width="70" height="70" class="img-container"></td>
                        <td>Crimson Momiji</td>
                        <td> Momiji	After using Chihayaburu or Kazuha Slash,<br>  
                            Kaedehara Kazuha gains an Anemo Infusion for 5s.<br>  
                            Additionally, each point of Elemental Mastery will increase the DMG dealt by<br> 
                            Kaedehara Kazuha's Normal, Charged, and Plunging Attack by 0.2%.</th>
                        </td>
                    </tr>

                    <tr>    
                        <td><img src="static/images/s1.png" width="70" height="70" class="img-container"></td>
                        <td></td>
                        <td></td>
                        <td>Each Constellation activation requires a Stella Fortuna</th>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="column">
                <table>
                    <tr>
                        <th>
                            Talent Leveling Materials
                        </th>
                        <th>
                            -
                        </th>
                        <th>
                            -
                        </th>
                        <th>
                            -
                        </th>
                    </tr>

                    <tr>
                        <th>Talent<br>
                            Level-Up<br>
                            Materials</th>
                        <td><img src="static/images/a1.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/a2.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/a3.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td>9</td>
                        <td>63</td>
                        <td>114</td>
                    </tr>

                    <tr>
                        <th>Common<br>
                            Ascension<br>
                            Materials</th>
                        <td><img src="static/images/m1.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m2.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m3.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td>18</td>
                        <td>66</td>
                        <td>93</td>
                    </tr>

                    <tr>
                        <th>Weekly<br>
                            Boss<br>
                            Materials</th>
                        <td></td>
                        <td><img src="static/images/b1.png" width="70" height="70" class="img-container"></td>
                        <td></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>18</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="column">
                <table>
                    <tr>
                        <th>
                            Ascension Phase
                        </th>
                        <th>
                            <img src="static/images/mora.png" width="70" height="70" class="img-container">
                        </th>
                        <th>
                            Character Ascension<br>
                            Materials
                        </th>
                        <th>
                            Character Ascension<br>
                            Materials
                        </th>
                        <th>
                            Local<br>
                            Specialties
                        </th>
                        <th>
                            Common<br>
                            Materials
                        </th>
                    </tr>

                    <tr>
                        <th>0~1</th>
                        <td>20,000</td>
                        <td><img src="static/images/p1.png" width="70" height="70" class="img-container"></td>
                        <td>-</td>
                        <td><img src="static/images/bul.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m1.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>1</td>
                        <td>-</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>

                    <tr>
                        <th>1~2</th>
                        <td>40,000</td>
                        <td><img src="static/images/p2.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/tae.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/bul.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/1.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>3</td>
                        <td>2</td>
                        <td>10</td>
                        <td>15</td>
                    </tr>

                    <tr>
                        <th>2~3</th>
                        <td>60,000</td>
                        <td><img src="static/images/p2.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/tae.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/bul.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m2.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>6</td>
                        <td>4</td>
                        <td>20</td>
                        <td>12</td>
                    </tr>

                    <tr>
                        <th>3~4</th>
                        <td>80,000</td>
                        <td><img src="static/images/p3.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/tae.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/bul.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m2.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>3</td>
                        <td>8</td>
                        <td>30</td>
                        <td>18</td>
                    </tr>

                    <tr>
                        <th>4~5</th>
                        <td>100,000</td>
                        <td><img src="static/images/p3.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/tae.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/bul.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m3.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>6</td>
                        <td>12</td>
                        <td>45</td>
                        <td>12</td>
                    </tr>

                    <tr>
                        <th>5~6</th>
                        <td>120,000</td>
                        <td><img src="static/images/p4.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/tae.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/bul.png" width="70" height="70" class="img-container"></td>
                        <td><img src="static/images/m3.png" width="70" height="70" class="img-container"></td>
                    </tr>

                    <tr>
                        <th>Amount</th>
                        <td></td>
                        <td>6</td>
                        <td>20</td>
                        <td>60</td>
                        <td>24</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>