<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewpoint" content="width=device-width">
      
      <link rel="stylesheet" href="static/style.css">
      <title>Document</title>
  </head>

  <body>
    <ka><a class="active" href="/" target="_blank">
        <nav>Kazuha</nav>
        <img src ="static/images/illust.png" style="width:18px; height:18px;">
    </a></ka>


    <ka><a href="/contents" target="_blank">
        <nav>Combat Info</nav>
        <img src ="static/images/chibby.png" style="width:18px; height:18px;">
    </a></ka>


    <zu><a href="file:///C:/Users/talon/Desktop/kazuha/In-game.html" class="Kazuha" target="_blank">
      <nav>In-game</nav>
      <img src ="static/images/chibby 2.png" style="width:14px; height:20px;">
    </a></zu>


    <ha><a href="file:///C:/Users/talon/Desktop/kazuha/Recommendations.html" target="_blank">
    <nav>Recommended</nav>
    <img src= "static/images/chibby 3.png" style="width:15px; height:15px;">
    </a></ha>

    <figure>
      <img class="title" src="static/images/live.gif"  width="1500" height="800"> 
      <div class="absl top_margin centre">
        <h1 class="big title_text">
        <span class="text_colour">Kaedehara Kazuha</span>
        </h1>
      </div>
    </figure>
      
    <div class="spacing">
    </div>
    
    <div class="box">
        <div>
          <img src="static/images/illust 1.jpg" class="illust">
        </div>
    </div>

    <div class="spacing">
    </div>

    <div class="box">
        <div>
          <img src="static/images/illust 2.jpg" class="illust1">
        </div>
    </div>

    <div class="spacing">
    </div>

    <div class="box">
        <div>
          <img src="static/images/illust 3.jpg" class="illust">
        </div>
    </div>

    <div class="spacing">
    </div>

    <div class="box">
        <div>
          <img src="static/images/illust 4.jpg" class="illust1">
        </div>
    </div>

            <div class="spacing">
        </div>

    <div class="box">
        <div>
          <img src="static/images/illust 5.jpg" class="illust">
        </div>
    </div>
  </body>
</html>